<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between p-3 border-bottom tx-16">
          <div class="d-flex align-items-center">
            <h1 class="card-title">Clients</h1>
          </div>
          <div class="d-flex">
            <button class="btn btn-primary" (click)="OnClientEdited(undefined,ClientModal)">Add New Client</button>
          </div>
        </div>


        <ng-template #ClientModal let-modal>
          <div class="modal-header">
            <h5 class="modal-title">New Client</h5>
            <button type="button" class="btn-close" (click)="close();" aria-label="Close"></button>
          </div>
          <app-client-edit (ClientInserted)="OnClientAdded();close();">

          </app-client-edit>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close();">Close</button>
          </div>
        </ng-template>
        <div class="card">
          <kendo-grid [data]="gridView"
                      [pageSize]="pageSize"
                      [skip]="skip"
                      [pageable]="true"
                      (pageChange)="pageChange($event)">
            <kendo-grid-column field="firstName" title="FirstName"> </kendo-grid-column>
            <kendo-grid-column field="lastName" title="LastName"></kendo-grid-column>
            <kendo-grid-column field="email" title="Email"></kendo-grid-column>
            <kendo-grid-column field="phoneNumber" title="Phone Number"> </kendo-grid-column>
          </kendo-grid>


        </div>


      </div>
     
    </div>
  </div>
</div>
